.section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
}

.fab {
    margin: 10px 20px;
}

.fab:hover {
    transform: scale(1.2);
}

ul.right li a:hover {
    color: #AE956D;
}

.card-content {
    text-align: justify !important;
}

.social-title {
    color: #ffd600;
}

.btn:hover {
    color: #AE956D;
}
